/* Mobile */
/*Navbar*/
    body{
      font-family: 'Open Sans', sans-serif;
      color: white;
      background-color: hsl(217, 28%, 15%);
      height: auto;
  }
  
  #navbar {
      font-family: 'Raleway', sans-serif;
      top: 20px;
      color: white;
      justify-content: center;
      padding: 2px;
      margin-left:50px;
      margin-right: 50px;
    }
    #navbar ul  {
      display:flex;
      align-items: center;
      list-style: none;
  
  }
  
  #navbar ul li a {
      text-decoration: none;
      color: white;
      font-size: 14px;
      padding: 0.60rem;
      margin: 0 0.18rem;
  }
  
  #navbar ul li a:hover {
      color: coral;
      background-color: white;
    }
    #navbar ul li a:active {
      color: rgb(33, 172, 28);
      font-weight: 16px;
    text-decoration: underline;
    }
  .logo{
      margin-left: 60px;
  }
   
   
  
  /*showcase*/
      #showcase {
      font-family: 'Raleway', sans-serif;
  }
  #showcase .m-image{
      margin-bottom: 0px;
      margin-top:30px;
      width:250px;
      height:250px;
      margin-left:auto;
      margin-right: auto;
  }
  .n-heading{
      text-align:center;
       font-weight: bold;
      margin-top: 5px;
      line-height: 2em;
      word-spacing: 0.2rem;
      font-size: 20px;
      top:0;
      margin-bottom: 10px;
      font-family: 'Raleway', sans-serif;
      margin-left: auto;
      margin-right: auto;
      
  }
  
  .curvy-image{
      background-image: url(./‫images/bg-curvy-mobile.svg);
      background-repeat: no-repeat;
      bottom: 0;
  }
  .head-p{
      text-align:center;
      font-size: 14px;
      line-height: 2em;
      margin: auto;
  }
  .btn {
      margin-top: 15px;
      color: white;
      background-color: hsl(198, 60%, 50%);
      font-size: 12px;
      padding: 0.5rem 2rem;
      display: inline-flex;
      border: none;
      text-decoration: none;
      justify-items: center;
      border-radius: 15px;
      margin-bottom: 200px;
      margin-left:auto;
      margin-right: auto;
     
  }
  .btn:hover{
      color: maroon;
  }
    /* Feature*/
   .container{
       display:flex;
   }
     .container div .c-1 {
         flex-direction:column;
      padding: 15px;
      margin-left:30px; 
      margin-right:30px;
      margin-bottom: 20px;
      margin-top:100px;
    
  
    }
    .c-1{
      text-align: center; 
      margin-right:30px;
      margin-left: 30px;
  
     
    }
    .container-2{
        display:flex;
      margin-right:30px;
      margin-left: 30px;
    }
     .container-2 div.c-2{
         flex-direction:column;
      padding: 15px;
       margin-left:30px; 
       margin-right:30px;
       margin-bottom: 20px;
        
  
    }
    .c-2{
        text-align:center;
      margin-right:30px;
      margin-left: 30px;
  
    }
    .head, .p-head{
      text-align: center; 
      margin-left: 50px;
      margin-right: 50px;
    }
    
  
  
  /*sidebar*/
  .container-22 div{
      display: flex;
      flex-direction:column;
  }

  .container-22 .productive{
      width: 100px;
      height: 100px;
       margin-left: 5px;
       margin-right: 5px;
       margin-bottom: 100px;
  }
  .stay-text{
      margin-left: 50px;
      margin-right: 50px; 
  }
  .side-h{
      margin-top: 250px;
      margin-bottom:2px;
      font-size: 18px;
      font-family: 'Raleway', sans-serif;
      margin-left: 0px;
      margin-right: 5px;
      width: 200px;
  }
  .stay-text a{
      color: cyan;
  }
  .stay-text p{
  line-height: 2em;
  }
      
  
  
  /*Testimonials*/
  /* .container-7 {
      width: 375px;
     
  }
  
  .container-7 div{
      margin-top: 5px;
      font-size: 14px;
      margin-bottom: 0rem;
      margin-left: 10px;
      align-content: center;
  }
  
  .box {
      width: 200px;
      background-color: hsl(200, 22%, 15%);
  }
  
  
  .b1{
      text-align: center;
      margin-left:3px;
      margin-right:3px;
      
  }
  .t-img{
      border-radius: 60px;
      height:60px;
      width: 60px;
      margin-left: 20px;
  } */
  .quote{
    margin-left: 50px;
}
 .container-7{
    display: flex;
} 
  
.container-7 div .box{
  flex-direction:column;
  box-sizing: border-box;
}
    
   .box{
     background-color: hsl(219, 30%, 18%);
     margin-bottom: 50px;
      text-align: left;
    /* margin-left: 10px;
    margin-right:10px; */
    margin-left: 30px;
    margin-right:30px;
}
.b1{
  /* margin-left: 10px;
  margin-right: 10px; */
  margin-left: 20px;
    margin-right:20px;
}
.t-img{
  /* border-radius: 100px; */
  border-radius: 60px;
}
  
  /*end*/
  
  
  
  /*sign-in*/
  #sign-in{
      position: relative;
      top: 50px;
      margin-top: 20px; 
     margin-left: 30px;
    margin-right: 30px;
  }
  .sign-in{
      background-color: hsl(217, 28%, 15%);
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 20px; 
      bottom: 0;
      padding: 20px;    
  }
  
  .down-p{
      line-height: 2em;
      padding-bottom: 20px;
      font-size: 12px;
      padding: 5px;
      margin-left: 10px;
      margin-right: 10px;
      
  }
  .down{
      line-height: 1.7em;
      padding-bottom: 20px;
      font-size: 18px;
      font-family: 'Raleway', sans-serif;
      
  }
  
  .button-2{
      flex-direction: column;
  }
  .i{
      border-radius: 15px;
      background-color: white;
      width: 60%;
      padding: 10px;
      margin-bottom: 15px;
      margin-top: 15px;
      border: none;
  }
  .sign{
      /* color: white; */
      border-radius: 15px;
      background-color: hsl(198, 60%, 50%);
      width: 60%;
      padding: 10px;
      margin-bottom: 15px;
      margin-top: 15px;
      border: none;
  }
  .sign a{
    color: white;
    text-decoration: none;
}
  
  
  /*contact*/
  
  #display {
      display: flex;
      background-color:  hsl(219, 30%, 18%);
      margin-top: 0;
      bottom: 0;
      
  }
  #display div {
      flex-direction: column;
      
  }
  
  .p-ul{
      margin-top: 100px;
      font-size: 14px;
      margin-bottom: 40px;
      padding: 5px;
      flex-basis: 30px;
      margin-left: 60px ;
      margin-right: 60px;
  }
  
  .media{
      width: 40px;
      height: 40px;
      padding: 5px;
  }
  
  #display ul li{
      list-style: none;
      line-height: 2.2em;
  
  }
  .myp{
      text-align:left;
      line-height: 1.5em;
  
  }
  /*Footer*/ss
  .mentor{
      margin-bottom:0;
  text-align: center;
  background-color:  hsl(219, 30%, 18%);
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  }
  .code{
      color:violet;
      font-size: 12px;
      text-align: center;
  }  
  
  @media screen and (max-width: 460px) {
    body{
        margin-left: 50px;
        margin-right:50px;
        display: flex;
        flex-direction: column;
    }
    }